---
title: Home
heading: 'Yo, Assemble!'
lead: Welcome to my blog!
---

<h1>{{ heading }}</h1>

<p>This is a Assemble Generator template.</p>

<p><a href="blog.html" class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
